body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: monospace;
    background: #111;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: row;
    gap: 5vmax;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.clock1, .clock2 {
    font-size: 3rem;
    margin: auto;
    background-color: #303030;
    border-radius: 15px;
    padding: 1rem 2rem;
    box-shadow: #202020 1px 5px 10px;
}

.clock2 p {
    margin: auto;
}

.clock2 button {
    background-color: green;
    color: white;
    font-size: 2rem;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
    box-shadow: #000 5px 5px 0px;
}

.clock2 button:active {
    transform: translate(5px, 5px);
    box-shadow: none;
}

#board {
    width: 90vh;
    height: 90vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    user-select: none;
    box-shadow: #3e415266 5px 5px 10px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark {
    background-color: #3e4152;
    width: 12.5%;
    height: 12.5%;
}

.light {
    background-color: #abb1c0;
    width: 12.5%;
    height: 12.5%;
}

.legal {
    box-shadow: inset #b63a01e3 0px 0px 15px;
}

.played {
    background-color: #669192;
}

.playing {
    background-color: #497e85;
}

.choosePiece {
    position: fixed;
    height: 7vmax;
    width: 25vmax;
    background-color: #303030;
    border-radius: 15px;
    margin: 16.5vmax 7.5vmax;
    padding: 5px;
    display: none;
    justify-content: space-around;
    align-items: center;
}

.choosePiece button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    margin: 5px;
}

.choosePiece button:hover {
    filter: brightness(1.2);
}

.choosePiece button img {
    max-width: 5vmax;
}

.inCheck::after {
    content: '';
    width: 7vmin;
    height: 7vmin;
    position: absolute;
    background-color: red;
    border-radius: 50%;
    filter: blur(12px) opacity(0.7);
    pointer-events: none;
}

.winText {
    position: absolute;
    font-size: 1.5rem;
    top: 0;
    display: none;
}